@import "./styles/global.css";


/* hero section */

#hero {
    display: grid;
}

#hero h1 {
    font-size: calc(2.7rem + 1vw);
    margin-bottom: 0.5em;
    max-width: 31rem;
}


/* projects section */

#projects h2 {
    margin-bottom: 0.7em;
}

#projects .link-arrow {
    margin-bottom: 3rem;
}

#projects .projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#projects .projects > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(100%, 33rem);
}

#projects .projects .blank {
    background-color: var(--gray-10);
    border-radius: 0.7rem;
    height: calc(10rem + 10vw);
    margin-bottom: 0.6rem;
    width: 100%;
}



/* hello section */

#hello h2 {
    margin-bottom: 0.7em;
}



/* classes */

.link-arrow {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    width: fit-content;
}

.link-arrow span {
    color: var(--sky-60);
    font-size: 1.1rem;
}

.link-arrow svg {
    fill: var(--sky-60);
    height: 0.8rem;
    margin-top: 0.1rem;
    transition: fill 0.3s, transform 0.2s;
}

.link-arrow:hover svg {
    transform: translateX(0.5rem);
}