@import "./styles/global.css";


/* hero section */

#hero {
    display: grid;
}

#hero h1 {
    line-height: 1.25;
    margin-bottom: 0.7em;
}

#hero button {
    align-items: center;
    display: flex;
    gap: 0.4em;
    margin-top: 2rem;
}

#hero button span {
    color: var(--blue-60);
}

#hero button svg {
    fill: var(--blue-60);
    height: 0.7em;
    margin-top: 0.1em;
    transition: fill 0.3s, transform 0.2s;
}

#hero button:hover svg {
    transform: translateX(0.5rem);
}

@media (min-width: 1024px) {
    #hero {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* projects section */

#projects h2 {
    margin-bottom: 1em;
}

#projects .projects {
    display: grid;
    gap: 2rem;
}

#projects .projects > div {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#projects .projects .blank {
    background-color: var(--gray-10);
    height: calc(10rem + 10vw);
    margin-bottom: 0.6rem;
    width: 100%;
}

@media (min-width: 1024px) {
    #projects .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* skills section */

#skills h3 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
}

#skills .stacks > div:not(:first-of-type) {
    margin-top: 2.7rem;
}

#skills .items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#skills .items > span {
    background-color: var(--gray-80);
    border-radius: 0.3rem;
    padding: 0.6rem 0.7rem;
}

@media (max-width: 1535px) {
    #skills h2 {
        margin-bottom: 1em;
    }
}


/* connect section */

#connect {
    display: grid;
    grid-row-gap: 3rem;
}

#connect h2 {
    margin-bottom: 0.7em;
}

#connect .myemail {
    color: var(--blue-60);
    text-decoration: underline;
    text-underline-position: under;
}

#connect form > * {
    display: block;
    width: 100%;
}

#connect label {
    font-weight: bold;
    margin-bottom: 0.6em;
}

#connect input[type="text"],
#connect input[type="email"],
#connect textarea {
    border: 1px solid var(--gray-30);
    border-radius: 0.3em;
    margin-bottom: 1.5rem;
    padding: 0.8rem 1rem;
    transition: border-color 0.3s, color 0.3s;
}

#connect input[type="text"]:focus,
#connect input[type="email"]:focus,
#connect textarea:focus {
    border-color: var(--blue-60);
}

#connect textarea {
    min-height: 0;
    height: 10em;
    line-height: 1.7;
    overflow: hidden;
    resize: none;
}

#connect input[type="submit"] {
    background-color: var(--blue-60);
    border-radius: 0.3em;
    color: var(--gray-10);
    cursor: pointer;
    font-weight: bold;
    outline: 0 solid var(--blue-10);
    padding: 0.8rem 1.3rem;
    transition: background-color 0.3s, color 0.3s, outline-width 0.2s;
    width: fit-content;
}

#connect input[type="submit"]:hover {
    background-color: var(--blue-70);
}

#connect input[type="submit"]:focus {
    outline-width: 7px;
}

@media (min-width: 1024px) {
    #connect {
        grid-template-columns: 40% 50%;
        justify-content: space-between;
    }
}


/* animate class */

.animated {
    opacity: 0;
}

.animate {
    animation: enter 0.7s forwards;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}