@import "styles/global.css";

body {
    align-content: space-between;
    display: grid;
    min-height: 100vh;
}

section {
    max-width: 420px;
}

h1 {
    margin-bottom: 1.3rem;
}

p {
    margin-bottom: 1.7rem;
}

.link-arrow {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    width: fit-content;
}

.link-arrow span {
    color: var(--indigo-60);
}

.link-arrow svg {
    fill: var(--indigo-60);
    height: 0.7rem;
    margin-top: 0.1rem;
    transition: fill 0.3s, transform 0.2s;
}

.link-arrow:hover svg {
    transform: translateX(0.5rem);
}