@import "../styles/global.css";

/* about section */

#about {
    display: grid;
}

#about h1 {
    line-height: 1.3;
    margin-bottom: 0.8em;
}

#about a {
    align-items: center;
    display: flex;
    gap: 0.4em;
    margin-top: 2rem;
}

#about a span {
    color: var(--blue-60);
}

#about a svg {
    fill: var(--blue-60);
    height: 0.7em;
    margin-top: 0.1em;
    transition: fill 0.3s, transform 0.2s;
}

#about a:hover svg {
    transform: translateX(0.5rem);
}

@media (min-width: 1024px) {
    #about {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* skills section */

#skills h2 {
    margin-bottom: 1.5em;
}

#skills .items {
    display: grid;
    grid-gap: 4rem 8rem;
}

#skills .items .icon {
    align-items: center;
    background-color: var(--blue-5);
    border-radius: 0.5rem;
    display: flex;
    height: 4.5rem;
    justify-content: center;
    padding: 1rem;
    width: 4.5rem;
    transition: background-color 0.3s;
}

#skills .items svg {
    display: flex;
    fill: var(--blue-50);
    height: 2.3rem;
}

#skills .items h3 {
    line-height: 1.4;
    margin-bottom: 1em;
    margin-top: 1em;
}

@media (min-width: 1024px) {
    #skills .items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1536px) {
    #skills .items {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* tech stack section */

#tech-stack h2 {
    margin-bottom: 1.5em;
}

#tech-stack .stacks {
    display: grid;
    grid-gap: 4rem 6rem;
}

#tech-stack .stacks h3 {
    margin-bottom: 1.2em;
}

#tech-stack .stacks .items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tech-stack .stacks .items > span {
    background-color: var(--gray-10);
    border-radius: 0.5em;
    padding: 0.6em 0.8em;
    transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 1024px) {
    #tech-stack .stacks {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1536px) {
    #tech-stack .stacks {
        grid-template-columns: repeat(3, 1fr);
    }
}