@import "../styles/global.css";



h1, h2 {
    font-size: 2rem;
}

/* about section */

#about h1 {
    margin-bottom: 2rem;
}



/* skills section */

#skills h2 {
    margin-bottom: 2.7rem;
}

#skills .items {
    display: grid;
    grid-row-gap: 4rem;
}

#skills .items h3 {
    line-height: 1.4;
    margin-bottom: 1.3rem;
}



/* tech stack section */

#tech-stack h2 {
    margin-bottom: 1.5em;
}

#tech-stack .stacks {
    display: grid;
    grid-row-gap: 4rem;
}

#tech-stack .stacks h3 {
    margin-bottom: 1.3rem;
}

#tech-stack .stacks .items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.4rem;
}

#tech-stack .stacks .items > span {
    border: 1px solid var(--gray-30);
    /*box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.17);*/
    border-radius: 0.4em;
    padding: 0.5em 0.8em;
    transition: border-color 0.3s, color 0.3s;
}



/* classes */

.dual {
    display: grid;
}

@media (min-width: 1024px) {
    .dual {
        grid-template-columns: auto 32rem;
        justify-content: space-between;
    }
}