@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&family=Noto+Sans:wght@400;500;600;700&display=swap');


/* variables */

:root {
    --site-max-width: 1536px;
}

:root[data-theme="light"] {
    --gray-0: rgb(255, 255, 255);
    --gray-10: rgb(244, 244, 245);
    --gray-20: rgb(228, 228, 231);
    --gray-30: rgb(212, 212, 216);
    --gray-40: rgb(161, 161, 170);
    --gray-50: rgb(113, 113, 122);
    --gray-60: rgb(82, 82, 91);
    --gray-70: rgb(63, 63, 70);
    --gray-80: rgb(39, 39, 42);
    --gray-90: rgb(24, 24, 27);

    --blue-30: rgb(147, 197, 253);
    --blue-40: rgb(96, 165, 250);
    --blue-60: rgb(37, 99, 235);
    --blue-70: rgb(29, 78, 216);

    --sky-10: rgb(224, 242, 254);

    --sky-30: rgb(125, 211, 252);
    --sky-40: rgb(56, 189, 248);

    --sky-60: rgb(2, 132, 199);
    --sky-70: rgb(3 105 161);

    --sky-90: rgb(12, 74, 110);

    --red-5: rgb(254, 242, 242);
    --red-40: rgb(248, 113, 113);
    --red-60: rgb(220, 38, 38);
    --red-90: rgb(62, 14, 14);

    --green-5: rgb(236, 253, 245);
    --green-40: rgb(52, 211, 153);
    --green-60: rgb(5, 150, 105);
    --green-90: rgb(3, 43, 32);

    --yellow-20: rgb(254, 240, 138);
}

:root[data-theme="dark"] {
    --gray-0: rgb(24, 24, 27);
    --gray-10: rgb(39, 39, 42);
    --gray-20: rgb(63, 63, 70);
    --gray-30: rgb(82, 82, 91);
    --gray-40: rgb(113, 113, 122);
    --gray-50: rgb(161, 161, 170);
    --gray-60: rgb(212, 212, 216);
    --gray-70: rgb(228, 228, 231);
    --gray-80: rgb(244, 244, 245);
    --gray-90: rgb(255, 255, 255);

    --blue-30: rgb(29, 78, 216);
    --blue-40: rgb(37, 99, 235);
    --blue-60: rgb(96, 165, 250);
    --blue-70: rgb(147, 197, 253);

    --sky-10: rgb(12, 74, 110);

    --sky-30: rgb(3 105 161);
    --sky-40: rgb(2, 132, 199);

    --sky-60: rgb(56, 189, 248);
    --sky-70: rgb(125, 211, 252);

    --sky-90: rgb(224, 242, 254);

    --red-5: rgb(62, 14, 14);
    --red-40: rgb(220, 38, 38);
    --red-60: rgb(248, 113, 113);
    --red-90: rgb(254, 242, 242);

    --green-5: rgb(3, 43, 32);
    --green-40: rgb(5, 150, 105);
    --green-60: rgb(52, 211, 153);
    --green-90: rgb(236, 253, 245);
}


/* global styles */

* {
    box-sizing: border-box;
    color: var(--gray-90);
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    transition: color 0.3s;
}

body {
    background-color: var(--gray-0);
    overflow-x: hidden;
    transition: background-color 0.3s;
}

[data-mobile-nav="visible"] body {
    overflow-y: hidden;
}

main {
    display: grid;
    grid-gap: 8rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    transition: color 0.3s, transform 0.4s;
}

main > section:first-of-type {
    padding-top: 3.6rem;
}

h1, h2, h3 {
    font-family: 'Domine', serif;
    font-weight: 600;
}

h1 {
    font-size: calc(2.9rem + 1vw);
    font-weight: 400;
    line-height: 1.3;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    line-height: 1.75;
}

a {
    text-decoration: none;
}

input, textarea {
    background: none;
    border: none;
    font-size: 1rem;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: var(--gray-60);
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

svg {
    transition: fill 0.3s;
}

@media (min-width: 540px) {
    main {
        grid-gap: 10rem;
        padding-bottom: 10rem;
        padding-top: 10rem;
    }
}


/* root font size */

@media (min-width: 768px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1366px) {
    html {
        font-size: 19px;
    }
}

@media (min-width: 1536px) {
    html {
        font-size: 20px;
    }
}


/* responsive viewport padding */

nav.top, main, footer {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--site-max-width);
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 768px) {
    nav.top, main, footer {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width: 1536px) {
    nav.top, main, footer {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}


/* top navigation bar */

[data-theme="light"] #theme-button .moon {
    display: none;
}

[data-theme="dark"] #theme-button .sun {
    display: none;
}

header {
    max-width: 100%;
    padding-top: 2rem;
    position: absolute;
    width: 100vw;

    left: 0;
    top: 0;
    z-index: 2;
}

header button {
    display: inline-flex; /* to get rid of weird unnecessary padding */
    height: fit-content;
}

nav.top {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav.top .resume {
    align-items: center;
    background-color: var(--gray-0);
    border: 1px solid var(--gray-30);
    border-radius: 0.4em;
    display: flex;
    gap: 0.5rem;
    padding: 0.5em 0.8em;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

nav.top .resume svg {
    fill: var(--gray-90);
    height: 1em;
}

nav.top .resume:hover {
    background-color: var(--gray-10);
}

nav.top .buttons {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}

#theme-button svg {
    fill: var(--gray-90);
    height: 1.2em;
}

#toggle-mobile-menu svg {
    fill: var(--gray-90);
}

#toggle-mobile-menu .burger {
    height: 1em;
}

#toggle-mobile-menu .cross {
    height: 1.1em;
}

[data-mobile-nav="hidden"] #toggle-mobile-menu .cross {
    display: none;
}

[data-mobile-nav="visible"] #toggle-mobile-menu .burger {
    display: none;
}


/* left navigation bar */

[data-mobile-nav="hidden"] nav.left {
    transform: translateX(-100vw);
}

[data-mobile-nav="visible"] nav.left {
    transform: translateX(0);
}

[data-mobile-nav="visible"] main {
    transform: translateX(100vw);
}

nav.left {
    align-items: center;
    background-color: var(--gray-0);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100vh;
    justify-content: center;
    padding: 1.5rem 7vw;
    width: 100vw;

    transition: background-color 0.3s, transform 0.4s;

    left: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}

nav.left a {
    font-family: 'Domine', serif;
    font-size: 2rem;
}


/* footer */

footer {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

footer span {
    color: var(--gray-50) !important;
    font-size: 0.9rem;
}

footer .icons {
    display: flex;
    gap: 1.5rem;
}

footer svg {
    fill: var(--gray-40);
    height: 1.4rem;
}


/* classes */

.medium-paragraph {
    font-size: calc(1rem + 1px);
}

.mouse {
    border: 0.1rem solid var(--gray-40);
    border-radius: 10rem;
    height: 2.3rem;
    width: 1.5rem;
}

.mouse div {
    animation: scroll ease 2s infinite;
    background-color: var(--gray-40);
    border-radius: 10rem;
    height: 0.7rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.3rem;
    width: 0.2rem;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(50%);
    }
}

.animated {
    opacity: 0;
}

.animate {
    animation: enter 0.7s forwards;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}