@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');



/* variables */

:root {
    --site-width: 100%;

    --indigo-0: rgb(238, 242, 255);
    --indigo-10: rgb(224, 231, 255);
    --indigo-20: rgb(199, 210, 254);
    --indigo-30: rgb(165, 180, 252);
    --indigo-50: rgb(99, 102, 241);
    --indigo-60: rgb(79, 70, 229);
    --indigo-70: rgb(67, 56, 202);
    --indigo-80: rgb(55, 48, 163);
    --indigo-90: rgb(49, 46, 129);
}

@media (min-width: 768px) {
    :root {
        --site-width: 720px;
    }
}

@media (min-width: 1024px) {
    :root {
        --site-width: 960px;
    }
}

@media (min-width: 1280px) {
    :root {
        --site-width: 1180px;
    }
}

:root[data-theme="light"] {
    --background: rgb(255, 255, 255);

    --gray-0: rgb(249, 250, 251);
    --gray-10: rgb(243, 244, 246);
    --gray-20: rgb(229, 231, 235);
    --gray-30: rgb(209, 213, 219);
    --gray-40: rgb(156, 163, 175);
    --gray-50: rgb(107, 114, 128);
    --gray-60: rgb(75, 85, 99);
    --gray-70: rgb(55, 65, 81);
    --gray-80: rgb(31, 41, 55);
    --gray-90: rgb(17, 24, 39);

    --red-5: rgb(254, 242, 242);
    --red-40: rgb(248, 113, 113);
    --red-60: rgb(220, 38, 38);
    --red-90: rgb(62, 14, 14);

    --green-5: rgb(236, 253, 245);
    --green-40: rgb(52, 211, 153);
    --green-60: rgb(5, 150, 105);
    --green-90: rgb(3, 43, 32);
}

:root[data-theme="dark"] {
    --background: rgb(25, 28, 36);

    --gray-90: rgb(249, 250, 251);
    --gray-80: rgb(243, 244, 246);
    --gray-70: rgb(229, 231, 235);
    --gray-60: rgb(209, 213, 219);
    --gray-50: rgb(156, 163, 175);
    --gray-40: rgb(107, 114, 128);
    --gray-30: rgb(75, 85, 99);
    --gray-20: rgb(55, 65, 81);
    --gray-10: rgb(31, 41, 55);
    --gray-0: rgb(17, 24, 39);

    --red-5: rgb(62, 14, 14);
    --red-40: rgb(220, 38, 38);
    --red-60: rgb(248, 113, 113);
    --red-90: rgb(254, 242, 242);

    --green-5: rgb(3, 43, 32);
    --green-40: rgb(5, 150, 105);
    --green-60: rgb(52, 211, 153);
    --green-90: rgb(236, 253, 245);
}



/* removals */

* {
    box-sizing: border-box;
    color: var(--gray-90);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    transition: color 0.3s;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    outline: none;
}



/* global styles */

body {
    background-color: var(--background);
    transition: background-color 0.3s;
}

body > * {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: var(--site-width);
}

main {
    display: grid;
    grid-gap: 8rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
}

@media (min-width: 768px) {
    main {
        grid-gap: 10rem;
        padding-bottom: 10rem;
        padding-top: 10rem;
    }
}

h1,
h2 {
    font-size: 2rem;
    font-weight: 800;
}

h3 {
    font-size: 1.3rem;
}

p {
    line-height: 1.7;
}

svg {
    transition: fill 0.3s;
}



/* body text */

p, span {
    color: var(--gray-70);
}

[data-theme="dark"] p,
[data-theme="dark"] span{
    color: var(--gray-60);
}



/* header */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

header > span {
    color: var(--gray-90) !important;
    font-size: 1.3rem;
    font-weight: bold;
}

header svg {
    height: 0.9rem;
    fill: var(--gray-90);
}

header > div {
    display: flex;
    gap: 0.4rem;
}

#resume span {
    font-size: 0.9rem;
    margin-right: 0.2rem;
}

#theme-button {
    align-items: center;
    display: flex;
}

[data-theme="light"] #theme-button .moon {
    display: none;
}

[data-theme="dark"] #theme-button .sun {
    display: none;
}

@media (min-width: 768px) {
    header {
        padding-top: 2rem;
    }
}



/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

footer span {
    color: var(--gray-40);
    font-size: 0.9rem;
}

[data-theme="dark"] footer span {
    color: var(--gray-40);
}

@media (min-width: 768px) {
    footer {
        padding-bottom: 2rem;
    }
}



/* classes */

.button {
    border: 1px solid var(--gray-30);
    border-radius: 0.4rem;
    box-shadow: 0 2px 4px -2px var(--gray-20);
    padding: 0.5rem 0.7rem;
    transition: background-color 0.3s, border-color 0.3s;
}

.button:hover {
    background-color: var(--gray-10);
}

[data-theme='dark'] .button,
[data-theme='dark'] input,
[data-theme='dark'] textarea{
    box-shadow: none !important;
}

.animated {
    opacity: 0;
}

.animate {
    animation: enter 0.7s forwards;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}